@use '../abstract/variaveis';
@use '../abstract/mixins';

header {
    background: variaveis.$gradiente-primario;
    padding: 2rem;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;

        .linha {
            border-top: 1px solid black;
            width: 80%;
        }

        ul {
            display: inline-flex;
            gap: 2rem;

            li {
                list-style-type: none;
            }

            a {
                text-decoration: none;
                @include mixins.ff-fs-cl(variaveis.$ft-textos, 1rem, variaveis.$cor-primaria);
                font-weight: 500;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.2);
                    font-weight: 700;
                }
            }
        }
    }

    #home {
        max-width: 1040px;
        @include mixins.margem-central(80%);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .textos-home {
            width: 100%;

            h1 {
                font-size: 3vw;
                color: variaveis.$cor-primaria;
                margin-bottom: 2rem;
                font-family: variaveis.$ft-titulos;

                span {
                    color: variaveis.$cor-secundaria;
                }
            }

            .btn-main {
                @include mixins.botao;

                &:hover {
                    transform: scale(1.1);
                }

                &:focus,
                &:active {
                    background-color: variaveis.$cor-secundaria; /* Defina uma cor ao focar ou clicar */
                    outline: none; /* Remove o contorno padrão, se necessário */
                }
            }
        }

        .img-home {
            max-width: 50vw;
            max-width: 474px;

            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 880px) {
    header {
        padding: 2rem;
    }

    #home {
        flex-direction: column; /* Coloca o texto acima da imagem */
        text-align: center;

        .textos-home {
            width: 100%;

            h1 {
                font-size: 6vw;
            }

            .btn-main {
                background-color: black; /* Cor diferente em telas menores */

                &:hover {
                    background-color: variaveis.$cor-primaria; /* Mantenha a cor de fundo ao passar o mouse */
                    color: white; /* Altere a cor do texto ao passar o mouse */
                }
            }
        }

        .img-home {
            max-width: 30vw;
        }
    }
}

@media (max-width: 700px) {
    #home {
        .textos-home {
            width: 80%;

            h1 {
                font-size: 5vw;
            }

            .btn-main {
                width: 60%;
                max-width: none;
                height: auto;
            }
        }
    }
}

@media (max-width: 500px) {
    header {
        padding: 2rem;
    }

    #home {
        .textos-home {
            width: 100%;

            h1 {
                font-size: 6vw;
            }

            .btn-main {
                width: 80%; /* Botão ocupa toda a largura disponível no mobile */
                max-width: none;
                height: auto;

                &:hover {
                    background-color: variaveis.$cor-secundaria; /* Cor ao passar o mouse */
                    color: white; /* Altere a cor do texto ao passar o mouse */
                }
            }
        }
    }
}
